import streamlit as st
from streamlit_option_menu import option_menu
import pandas as pd
import numpy as np
import pickle
from PIL import Image
import re
import math
import random
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import skew
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import norm
from scipy.stats import chisquare
