# Streamlit для UI
streamlit>=1.26.0,<2.0.0

# Бокова панель меню
streamlit-option-menu>=0.3.5,<1.0.0

# Робота з даними
pandas>=2.0.0,<3.0.0
numpy>=1.24.0,<2.0.0

# Робота з зображеннями
Pillow>=10.0.0,<11.0.0

# Графіки
matplotlib>=3.6.3,<3.8.0
plotly>=5.15.0,<6.0.0

# Статистика
scipy>=1.11.0,<2.0.0
